*.py[cod]
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
/doc/_build
/doc/Reference_Manual/*
!/doc/Reference_Manual/index.rst
.ipynb_checkpoints
.tox/
.coverage
coverage.xml
__pycache__
.doit*
*.egg-info
pip-wheel-metadata
**.ipynb_checkpoints
/build
dist/
.venv/
venv/

# nbsite
# these files normally shouldn't be checked in as they should be
# dynamically built from notebooks
# this dir contains the whole website and should not be checked in on main
builtdocs/
# myst-nb output dir
jupyter_execute/

# CET_updates.py is an intermediate file and should not be versioned.
assets/CET_updates.py

# setuptools_scm
colorcet/_version.py

# pixi
.pixi
pixi.lock
