*.py[cod]
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
/doc/_build
/doc/Reference_Manual/*
!/doc/Reference_Manual/index.rst
.ipynb_checkpoints
.tox/
.coverage
coverage.xml
__pycache__
.doit*
*.egg-info
*/.version
pip-wheel-metadata
**.ipynb_checkpoints
/build

# nbsite
# these files normally shouldn't be checked in as they should be
# dynamically built from notebooks
doc/**/*.rst
doc/**/*.ipynb
doc/**/*.json
# this dir contains the whole website and should not be checked in on master
builtdocs/
