name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * SUN'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: 'ubuntu-latest'
    steps:
      - uses: holoviz-dev/holoviz_tasks/pre-commit@v0.1a19
  test_suite:
    name: Pytest on ${{ matrix.python-version }}, ${{ matrix.os }}
    needs: [pre_commit]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        # Run on the full set on schedule, workflow_dispatch and push&tags events, otherwise on a subset.
        # python-version: ${{ ( github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || ( github.event_name == 'push' && github.ref_type == 'tag' ) ) && fromJSON('["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]') || fromJSON('["3.7", "3.12"]') }}
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -e {0}
    env:
      MPLBACKEND: "Agg"
      DISPLAY: ":99.0"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "100"
      - name: Fetch
        run: git fetch --prune --tags -f
      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: install
        run: uv pip install -e ."[tests,tests_examples,tests_extra]"
      - name: unit tests
        run: uv run pytest colorcet --cov=colorcet --cov-append --cov-report xml
      - name: examples tests
        run: uv run pytest doc --nbval-lax -p no:python
      - name: doit test_unit_extra
        run: uv run pytest colorcet --mpl
      - uses: codecov/codecov-action@v4
        if: github.event_name == 'push'
